{% extends "::base.html.twig" %}

{% block title %}HSPasswordLessBundle:Registration:confirmRegistration{% endblock %}

{% block body %}
    <h1>Login request</h1>
    <p>Request a login token</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Request" />
    {{ form_end(form) }}
{% endblock %}
