{% extends "::base.html.twig" %}

{% block title %}HSPasswordLessBundle:Registration:confirmRegistration{% endblock %}

{% block body %}
<h1>Welcome to the Registration:confirmRegistration page</h1>
{% endblock %}
